extends layout
block body
  .page-header
    h1 RSS Feeds
  .row
    .col-md-12
      .table-responsive
          table.table.table-striped
            thead
              tr
                th
                th NAME
                th URL
                th TWITTER
            tbody
            for feed in feeds
              tr
                td #{feed.id}
                td #{feed.name}
                td: a(href="#{feed.url}" target="_blank") #{feed.url}
                td @#{feed.twitter}
